{{#products}}
<div class="product">
    <div>
        <div class="photo">
            <img src="./images/products/{{imageUrl}}" alt="{{name}}"
                 onclick="showImageDetailForm(`{{name}}`,'/images/products/{{imageUrl}}')">
        </div>

        <h4>{{name}}</h4>
        <h4 class="price">${{price}}</h4>

        <div>
            <p>{{description}}</p>
        </div>
    </div>

    <div class="add-button">
        <button class="btn btn-success" onclick="cartService.addToCart({{productId}})">
            + Add to bag
        </button>
    </div>
</div>
{{/products}}